fastapi
slowapi
uvicorn[standard]
httpx==0.28.1
numpy==2.4.2
pandas==3.0.0
pillow==12.1.0
python-multipart==0.0.28
scikit-learn==1.8.0
opencv-python-headless
torch
albumentations
timm
prometheus_client
prometheus_fastapi_instrumentator